**/.env
**/.env.local
**/__pycache__/
*.pyc
**/venv/
**/venv_dml/
**/.venv/
backend/.env
backend/__pycache__/
ml_engine/__pycache__/
ml_engine/datasets/
ml_engine/datasets.zip
ml_engine/training_log.txt
frontend/sortex/app/favicon.ico
backend/sustainability/__pycache__/
frontend/sortex/next.config.ts
frontend/sortex/package-lock.json
frontend/sortex/package.json
**/node_modules/
**/.next/
.DS_Store
Thumbs.db